<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
  <%= form.label :Name %>
  <%= form.text_field :commenter %>
 <div class="form-group">
  <%= form.label :Comment %>
  <%= form.text_area :body, class:"form-control", id:"comment" %>
 </div>
 <%= form.submit %>
</div>
</div>
</div>
<% end %>
